*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

@font-face {
    font-family: 'Monsterra';
    src: url('fonts/Monsterra.woff2') format('woff2'),
         url('fonts/Monsterra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

p{
    font-family: 'Monsterra', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #2C2C2C;
    padding: 20px 80px;
}

.lupa{
    margin: 18px;
}

.sec1{
    background: url(../assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sec1 h1{
    font-size: 130px;
    color: white;
}

.sec1 p{
    color: white;
    font-size: 30px;
    padding-right: 65%;
}

.sec1 button{
    background-color: #FF6309;
    color: white;
    border: 0px;
    padding: 10px 50px 10px 50px;
    font-size: 25px;
    border-radius: 3px;
    margin-top: 30px;
}

.caja1{
    padding: 28% 0% 8% 8%;
}

.sec2{
    background-color: #FF6309;
    color: white;
    text-align: center;
}

.sec2 h2{
    font-size: 70px;
    padding-top: 80px;
    padding-bottom: 30px;
}

.p{
    font-size: 30px;
    padding-bottom: 85px;
}

.tarjetas{
    display: flex;
    justify-content: center;
    gap: 80px;
}

.titulos{
    background-color: #2C2C2C;
    margin-top: -4px;
}

.titulos h3{
    font-size: 30px;
    padding-top: 20px;
}

.titulos p{
    font-size: 25px;
    padding-bottom: 30px;
    margin-bottom: 25%;
}

.sec3{
    background-color: #2C2C2C;
    color: white;
    text-align: center;
}

.sec3 h2{
    font-size: 80px;
    padding-top: 90px;
    padding-bottom: 30px;
}

.p1{
    font-size: 30px;
    padding-bottom: 85px;
}

.tarjetas2{
    display: flex;
    justify-content: center;
    gap: 80px;
}

.precio{
    background-color: #FF6309;
    padding: 60px 25px 20px 25px;
    margin-bottom: 5%;
    border-radius: 5px;
    width: 19%;
}

.precio h3{
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.precio p{
    font-size: 25px;
}

.precio button{
    background-color: #2C2C2C;
    color: white;
    border: 0px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer{
    background-color: #FF6309;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

footer p{
    font-size: 25px;
    color: white;
}

@media (max-width:1279px){

    .sec1{
        zoom: 0.7;
    }

    .sec1 button{
        padding: 20px 50px 20px 50px;
        font-size: 30px;
    }

    .tarjetas img{
        width: 100%;
    }

    .tarjetas{
        gap: 30px;
        padding: 0px 20px 0px 20px;
    }

    .titulos p{
        font-size: 20px;
    }

    .titulos h3{
        font-size: 26px;
        padding-bottom: 8px;
    }

    .sec1 p {
        font-size: 34px;
        padding-right: 37%;
    }

    .sec2 h2 {
        font-size: 60px;
        padding-top: 60px;
        padding-bottom: 20px;
    }

    .p{
        font-size: 25px;
        padding-bottom: 50px;
    }

    .sec3 h2{
        font-size: 60px;
        padding-top: 60px;
        padding-bottom: 20px;
    }

    .p1{
        font-size: 25px;
        padding-bottom: 50px;
    }

    .precio{
        width: 100%;
    }

    .precio p{
        font-size: 18px;
    }

    .tarjetas2{
        gap: 30px;
        padding: 0px 20px;
    }

    .precio h3{
        font-size: 26px;
        padding-top: 35px;
        padding-bottom: 16px;
    }

    footer{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    footer p{
        font-size: 20px;
    }
}

@media (max-width:920px){

    header{
        padding: 20px 35px;
    }

    .caja1{
        padding: 28% 0% 8% 7%
    }

    .sec1{
        zoom: 0.6;
    }

    .sec2 h2{
        font-size: 50px;
        padding-top: 45px;
        padding-bottom: 15px;
    }

    .p{
        font-size: 22px;
        padding-bottom: 40px;
    }

    .titulos p {
        font-size: 16px;
        padding-bottom: 20px;
    }

    .titulos h3 {
        font-size: 22px;
        padding-bottom: 6px;
    }

    .sec3 h2{
        font-size: 50px;
        padding-top: 45px;
        padding-bottom: 15px;
    }

    .p1{
        font-size: 22px;
        padding-bottom: 40px;
    }

    .precio{
        padding: 60px 10px 20px 10px;
    }

    .precio p {
        font-size: 16px;
    }

    .precio h3 {
        font-size: 20px;
        padding-top: 30px;
        padding-bottom: 15px;
    }

    .precio button{
        padding-top: 15px;
        padding-bottom: 15px;
    }

    footer p {
        font-size: 17px;
    }

    footer {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media (max-width:768px){

    .sec1{
        zoom: 0.4;
    }

    header {
        padding: 14px 23px;
    }

    .sec2 h2 {
        font-size: 35px;
        padding-top: 25px;
        padding-bottom: 10px;
    }

    .p {
        font-size: 14px;
        padding-bottom: 25px;
    }

    .titulos h3 {
        font-size: 16px;
        padding-bottom: 5px;
    }

    .titulos p {
        font-size: 10px;
        padding-bottom: 18px;
    }

    .sec3 h2{
        font-size: 35px;
        padding-top: 25px;
        padding-bottom: 10px;
    }

    .p1 {
        font-size: 14px;
        padding-bottom: 25px;
    }

    .sec3 img{
        width: 70%;
    }

    .tarjetas{
        gap: 15px;
    }

    .precio p{
        font-size: 10px;
    }

    .tarjetas2{
        gap: 15px;
    }

    .precio h3 {
        font-size: 14px;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .precio {
        padding: 38px 5px 20px 5px;
    }

    .precio button {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 13px;
    }

    footer p {
        font-size: 11px;
    }

    footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (max-width:480px){

    .sec1{
        zoom: 0.3;
    }

    header img{
        height: 6vh;
    }

    header {
        padding: 10px 10px;
    }

    .lupa{
            height:24px;
    }

    .sec2 h2 {
        font-size: 26px;
        padding-top: 20px;
        padding-bottom: 6px;
    }

    .p {
        font-size: 11px;
        padding-bottom: 18px;
    }

    .tarjetas{
        flex-direction: column;
        gap: 2px;
        padding: 0px 30px 0px 30px;
    }

    .titulos h3 {
        font-size: 18px;
        padding-bottom: 5px;
    }

    .titulos p {
        font-size: 13px;
        padding-bottom: 20px;
        margin-bottom: 15%;
    }

    .sec3 h2{
        font-size: 26px;
        padding-top: 20px;
        padding-bottom: 6px;
    }

    .p1{
        font-size: 11px;
        padding-bottom: 18px;
    }

    .tarjetas2{
        flex-direction: column;
        padding: 0px 30px;
        gap: 2px;
    }

    .sec3 img{
        width: auto;
    }

    .precio h3 {
        font-size: 18px;
        padding-top: 18px;
        padding-bottom: 7px;
    }

    .precio p {
        font-size: 13px;
    }

    .precio{
        margin-bottom: 15%;
    }

    .precio button {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 16px;
        width: 80%;
    }

    footer p {
        font-size: 9px;
    }

    footer{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}